.wrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	top: 80px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: $mainFont;
	font-size: 125%;
}

header {
	background: url(./assets/headerBackground.jpeg) no-repeat;
	background-size: cover;
	min-height: 20vh;
	margin-bottom: 20px;
	text-align: center;

	h1,
	h2 {
		color: $white;
		font-size: 2rem;
		letter-spacing: 2px;
		position: relative;
		text-align: center;
		margin: 20px auto 0;
	}

	h2 {
		font-size: 1rem;
		margin: 10px auto 10px
	}

	.underline {
		border-bottom: 1px solid $white;
		font-style: normal;
	}
}

body {
	min-height: 100vh;
	height: 100%;
}

body:before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: linear-gradient(black 20%, midnightblue 60%, black 100%);
}

main {
	// Keep footer from overlapping table
	padding-bottom: 120px;
	// min-height: 500px;
	// position: relative;
}

.error-message {
	color: $white;
	font-size: 1.5rem;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 10%;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.backToTop {
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-top: 50px;
	line-height: 0.8rem;
	text-align: center;
	text-decoration: none;

	p {
		padding: 15px 35px;
	}
}

.invisible {
	display: none;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: $black;
	color: $white;
	text-align: center;

	p {
		padding: 10px;
	}

	a {
		color: $neon-blue;
	}
}
