@media (max-width: 700px) {
	.wrapper {
		width: 95%;
	}

	form {
		padding: 50px 0;
		width: 85%;
	}

	table {
		th:first-of-type {
			display: none;
		}

		td {
			padding: 5px;

			&:first-of-type {
				display: none;
			}

			&:not(:first-of-type) {
				width: calc(100% / 4);
			}
		}
	}
}

@media (min-width: 600px) {
	a {
		&:hover,
		&:active,
		&:focus {
			letter-spacing: 2px;
		}
	}
}
		
@media (max-width: 450px) {
	* {
		font-size: 0.8rem;
	}
	table {
		td {
			&:nth-of-type(2) {
				width: 40%;
			}
	
			&:nth-child(n + 2){
				width: calc(60% / 3);
			}
	
			a {
				padding: 10px 5px;
				min-width: 60px;
			}
		}

	}
}
