@media (max-width: 750px) {
	.wrapper {
		width: 95%;
	}

	.nav-flags {
        right: 1%;
	}


	form {
		padding: 50px 0;
		width: 85%;
	}

	table {
		th:first-of-type {
			display: none;
		}

		td {
			padding: 5px;

			&:first-of-type {
				display: none;
			}

			&:not(:first-of-type) {
				width: calc(100% / 4);
			}
		}
	}

	// .currency-form {
	// 	top: 20%;
	// 	right: 2%;

	// 	button {
	// 		background: none;
	// 	}
	// }
}
		
@media (max-width: 450px) {
	* {
		font-size: 0.8rem;
	}

	form {
		input {
			max-width: 300px;
		}
	}

	table {
		td {
			&:nth-of-type(2) {
				width: 40%;
			}
	
			&:nth-child(n + 2){
				width: calc(60% / 3);
			}
	
			a {
				padding: 10px 5px;
				min-width: 60px;
			}
		}
	}
}
