nav {
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

    .logo-dragon {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1rem;
    }

    .nav-links {
        display: flex;
        width: 50%;
        justify-content: flex-end;

        // parent container for nav-flags
        li {
            list-style: none;
            position: relative;
        }

        a {
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: 700;
            font-size: 0.7rem;
            color: $white;
        }
    }

    .nav-flags {
        display: flex;
        position: absolute;
        right: -20px;
        justify-content: center;
        width: 200px;


        li {
            width: 40px;
            height: 25px;
            margin: 10px;
            cursor: pointer;
        }
    }
}

// toggle class to reveal/hide flags
.flags-toggle {
    opacity: 0;
}