table {
	background-color: #555;
	color: #e5e5e5;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	// border: 1px solid red;
	border-collapse: collapse;
	thead {
		background-color: #111;
		color: #e5e5e5;
	}
	th {
		padding: 10px;
	}
	tr {
		border: 1px solid black;

		&:nth-child(even) {
			background-color: #888;
		}
	}
	td {
		border-bottom: 2px solid black;
		min-width: 15%;
		width: calc(50% / 3);
		text-align: center;

		&:first-of-type {
			width: 25%;
		}

		&:nth-of-type(2) {
			width: 25%;
		}
	}

	a {
		display: inline-block;
		background-color: black;
		border-radius: 20px;
		color: #e5e5e5;
		text-shadow: 1px 1px black;
		letter-spacing: 1px;
		min-width: 85px;
		padding: 10px 10px;
		text-decoration: none;
		font-weight: 700;
	}
}

.logo {
	width: 50px;
	height: auto;
	margin: 0 auto;
}

.invisible {
	display: none;
}

.discount0 {
	background-color: rgb(204, 8, 8);

	&:hover,
	&:focus,
	&:active {
		background-color: rgb(226, 5, 5);
	}
}

.discount25 {
	background-color: rgb(224, 183, 77);

	&:hover,
	&:focus,
	&:active {
		background-color: goldenrod;
	}
}

.discount50 {
	background-color: rgb(44, 90, 44);

	// &:hover,
	// &:focus,
	// &:active {
	// 	// background-color: rgb(226, 5, 5);
	// }
}

.discount75 {
	background-color: rgb(28, 129, 28);
	&:hover {
		background-color: rgb(79, 252, 27);
	}
}
