table {
	background-color: #555;
	color: #e5e5e5;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	// border: 1px solid red;
	border-collapse: collapse;
	thead {
		background-color: #111;
		color: #e5e5e5;
	}
	th {
		padding: 10px;
	}
	tr {
		border: 1px solid black;

		&:nth-child(even) {
			background-color: #888;
		}
	}
	td {
		border-bottom: 2px solid black;
		min-width: 15%;
		width: calc(50% / 3);
		text-align: center;

		&:first-of-type {
			width: 25%;
		}

		&:nth-of-type(2) {
			width: 25%;
		}
	}

	a {
		display: inline-block;
		background-color: black;
		border-radius: 20px;
		color: white;
		letter-spacing: 1px;
		min-width: 85px;
		padding: 10px 10px;
		text-decoration: none;
	}
}

.logo {
	width: 50px;
	height: auto;
	margin: 0 auto;
}

.invisible {
	display: none;
}

.discount0 {
	background-color: red;
}

.discount25 {
	background-color: orange;
}

.discount50 {
	background-color: yellow;
}

.discount75 {
	background-color: green;
}
