table {
	background-color: #555;
	border-collapse: collapse;
	color: $white;
	margin: 0 auto;
	padding-bottom: 50px;
	width: 100%;

	thead {
		background-color: #111;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	th {
		padding: 10px;
		position: relative;

		&:nth-of-type(2)::after,
		&:nth-of-type(3)::after {
			content: '';
			position: absolute;
			bottom: 15%;
			left: 10%;
			height: 3px;
			width: 80%;
			background: $neon-blue;
		}
	}
	tr {
		border: 1px solid $black;

		&:nth-child(even) {
			background-color: #888;
		}
	}
	td {
		border-bottom: 2px solid $black;
		min-width: 15%;
		width: calc(50% / 3);
		text-align: center;

		&:first-of-type {
			width: 25%;
		}

		&:nth-of-type(2) {
			padding-left: 10px;
			width: 25%;
		}
	}

	a {
		display: inline-block;
		background-color: $black;
		border-radius: 20px;
		color: #e5e5e5;
		font-weight: 700;
		letter-spacing: 1px;
		min-width: 85px;
		padding: 10px 10px;
		text-decoration: none;
		text-shadow: 2px 1px 1px $black;
		transition: all 0.3s ease;
	}
}

.gameCover {
	width: 100%;
	height: 70px;
}

.logo {
	height: auto;
	margin: 0 auto;
	width: 50px;
}

.steamLogo {
	border: 1px solid $white;
	border-radius: 10px;
}

.invisible {
	display: none;
}

.discount0 {
	background-color: $red;

	&:hover,
	&:focus,
	&:active {
		background-color: $red-hover;
	}
}

.discount25 {
	background-color: $orange;

	&:hover,
	&:focus,
	&:active {
		background-color: $orange-hover;
	}
}

.discount50 {
	background-color: $yellow;

	&:hover,
	&:focus,
	&:active {
		background-color: $yellow-hover;
	}
}

.discount75 {
	background-color: $green;

	&:hover,
	&:focus,
	&:active {
		background-color: $green-hover;
	}
}

.storeLink {
	position: relative;
	overflow: hidden;
	// Element displays discount percentage of game, revealed on :hover
	&::before {
    content: attr(savings);
    position: absolute;
    top: 0%;
    left: 0px;
    background-color: inherit;
    padding: 10px;
    font-size: 0.9em;
    width: 100%;
    height: 100%;
		transition: transform 0.3s ease;
		transform: translateY(100%);
	}

	&:hover,
	&:focus {
		&::before {
			transform: translateY(0);
		}
	}
}

