// Colours
$black: #252525;
$light-black: #434343;
$dark-grey: #555555;
$light-grey: #888888;
$white: #e5e5e5;

// Store link colours
$red: #ad1212;
$red-hover: #e62323;
$orange: #a96723;
$orange-hover: #c56723;
$yellow: #ae8e12;
$yellow-hover: #b1a125;
$green: #008945;
$green-hover: #00ba59;

// Button Colors
$neon-blue: #0099ff;
$neon-green: #07f707;

// Fonts
$mainFont: 'Roboto', sans-serif;
$styledFont: 'Orbitron', sans-serif;