@import 'setup';
@import 'form';
@import 'tableStyles';

.wrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
  padding-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(midnightblue, black);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // Keep footer from overlapping table
  padding-bottom: 100px;
}

form {
  margin-bottom: 20px;
}

ul {
	list-style: none;
}

div {
	width: 100%;
	height: 60px;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 10%;
}



footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
	background-color: black;
	color: white;
  text-align: center;
  p {
    padding: 10px;
  }
}


