html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 125%;
}

header {
  background: url(./assets/pexels-photo-1010496.jpeg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  color: #e5e5e5;
  font-size: 2rem;
  letter-spacing: 2px;
  position: relative;
}

body {
  min-height: 100vh;
  height: 100%;
}

body:before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #d8d8d8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, black), color-stop(60%, midnightblue), to(black));
  background: linear-gradient(black 20%, midnightblue 60%, black 100%);
}

main {
  padding-bottom: 120px;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 10%;
     object-position: center 10%;
}

th i.fas {
  font-size: 2.5rem;
  color: #0099ff;
  text-shadow: 0 0 7px #0099ff;
}

.backToTop {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 50px;
  line-height: 0.8rem;
  text-align: center;
  text-decoration: none;
}

.backToTop p {
  padding: 15px 35px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: black;
  color: white;
  text-align: center;
}

footer p {
  padding: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  width: 70%;
}

form input {
  border: none;
  border-radius: 25px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
}

form button {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.neon,
.neon-header {
  text-shadow: -3px -3px 8px midnightblue;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 35px;
  color: #0099ff;
  background-color: transparent;
}

.neon-header {
  border-bottom: 2px solid #0099ff;
}

.neon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 4px solid #0099ff;
  border-radius: 10px;
  text-shadow: 0 0 4px #88b3d1, 0 0 4px #0099ff;
  -webkit-box-shadow: inset 0 0 25px 0 #0099ff, 0 0 25px 0 #0099ff;
          box-shadow: inset 0 0 25px 0 #0099ff, 0 0 25px 0 #0099ff;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.neon::before {
  content: '';
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0099ff;
  opacity: 0;
  -webkit-transform: perspective(50px) rotateX(40deg) scale(1, 0.3);
          transform: perspective(50px) rotateX(40deg) scale(1, 0.3);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.neon::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 50px #0099ff;
          box-shadow: 0 0 50px #0099ff;
  opacity: 0;
}

.neon:hover, .neon:focus, .neon:active {
  background: #0099ff;
  color: #252525;
  text-shadow: none;
}

.neon:hover::before, .neon:hover::after {
  opacity: 1;
}

table {
  background-color: #555;
  border-collapse: collapse;
  color: #e5e5e5;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
}

table thead {
  background-color: #111;
  color: #e5e5e5;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

table th {
  padding: 10px;
  position: relative;
}

table th:nth-of-type(2)::after, table th:nth-of-type(3)::after {
  content: '';
  position: absolute;
  bottom: 15%;
  left: 10%;
  height: 3px;
  width: 80%;
  background: #0099ff;
}

table tr {
  border: 1px solid #252525;
}

table tr:nth-child(even) {
  background-color: #888;
}

table td {
  border-bottom: 2px solid #252525;
  min-width: 15%;
  width: calc(50% / 3);
  text-align: center;
}

table td:first-of-type {
  width: 25%;
}

table td:nth-of-type(2) {
  padding-left: 10px;
  width: 25%;
}

table a {
  display: inline-block;
  background-color: #252525;
  border-radius: 20px;
  color: #e5e5e5;
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 85px;
  padding: 10px 10px;
  text-decoration: none;
  text-shadow: 2px 1px 1px #252525;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gameCover {
  width: 100%;
  height: 70px;
}

.logo {
  height: auto;
  margin: 0 auto;
  width: 50px;
}

.steamLogo {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.invisible {
  display: none;
}

.discount0 {
  background-color: #ad1212;
}

.discount0:hover, .discount0:focus, .discount0:active {
  background-color: #e62323;
}

.discount25 {
  background-color: #a96723;
}

.discount25:hover, .discount25:focus, .discount25:active {
  background-color: #c56723;
}

.discount50 {
  background-color: #beae12;
}

.discount50:hover, .discount50:focus, .discount50:active {
  background-color: #d1d125;
}

.discount75 {
  background-color: #008945;
}

.discount75:hover, .discount75:focus, .discount75:active {
  background-color: #00ba59;
}

.storeLink {
  position: relative;
  overflow: hidden;
}

.storeLink::before {
  content: attr(savings);
  position: absolute;
  top: 0%;
  left: 0px;
  background-color: inherit;
  padding: 10px;
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.storeLink:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal {
  position: fixed;
  top: 50%;
  margin-top: 10px;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.modal p {
  font-size: 1rem;
  color: #e5e5e5;
  letter-spacing: 1px;
  margin: 2rem 0;
  text-transform: uppercase;
}

.disc {
  background: conic-gradient(#d6d6d6, #120825, #d6d6d6);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  -webkit-animation: spin 2s ease-in-out infinite;
          animation: spin 2s ease-in-out infinite;
  margin: 0 auto;
}

.disc::before,
.disc::after {
  content: '';
  border-radius: 50%;
  background-color: #120825;
  height: 15%;
  width: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.disc::after {
  border: 3px solid #120825;
  background-color: transparent;
  height: 30%;
  width: 30%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(1125deg);
            transform: rotate(1125deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(1125deg);
            transform: rotate(1125deg);
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 95%;
  }
  form {
    padding: 50px 0;
    width: 85%;
  }
  table th:first-of-type {
    display: none;
  }
  table td {
    padding: 5px;
  }
  table td:first-of-type {
    display: none;
  }
  table td:not(:first-of-type) {
    width: calc(100% / 4);
  }
}

@media (min-width: 600px) {
  a:hover, a:active, a:focus {
    letter-spacing: 2px;
  }
}

@media (max-width: 450px) {
  * {
    font-size: 0.8rem;
  }
  table td:nth-of-type(2) {
    width: 40%;
  }
  table td:nth-child(n + 2) {
    width: calc(60% / 3);
  }
  table td a {
    padding: 10px 5px;
    min-width: 60px;
  }
}
